/*** CSS base setup ***/
html, body {
  height: 100%;
  min-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

body {
  line-height: 1;
}

* {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  display: inline-block;
  width: auto;
  text-decoration: none;
  color: var(--black);
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.btn, .explore__btn {
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.8) 0%, rgb(255, 121, 218) 100%);
  padding: 0.8125rem 1rem;
  border-radius: 999px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.btn::after, .explore__btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 999px;
  background: white;
  opacity: 0;
  transition: opacity 250ms;
}
.btn:hover::after, .explore__btn:hover::after {
  opacity: 0.15;
}

.card, .restaurant__entrance .restaurant__entrance__list > *, .restaurant__entrance .restaurant__maincourse__list > *, .restaurant__entrance .restaurant__desert__list > *, .restaurant__maincourse .restaurant__entrance__list > *, .restaurant__maincourse .restaurant__maincourse__list > *, .restaurant__maincourse .restaurant__desert__list > *, .restaurant__desert .restaurant__entrance__list > *, .restaurant__desert .restaurant__maincourse__list > *, .restaurant__desert .restaurant__desert__list > * {
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card h3, .restaurant__entrance .restaurant__entrance__list > * h3, .restaurant__entrance .restaurant__maincourse__list > * h3, .restaurant__entrance .restaurant__desert__list > * h3, .restaurant__maincourse .restaurant__entrance__list > * h3, .restaurant__maincourse .restaurant__maincourse__list > * h3, .restaurant__maincourse .restaurant__desert__list > * h3, .restaurant__desert .restaurant__entrance__list > * h3, .restaurant__desert .restaurant__maincourse__list > * h3, .restaurant__desert .restaurant__desert__list > * h3 {
  flex: 1 1 100%;
  margin-bottom: 0.3rem;
}
.card p, .restaurant__entrance .restaurant__entrance__list > * p, .restaurant__entrance .restaurant__maincourse__list > * p, .restaurant__entrance .restaurant__desert__list > * p, .restaurant__maincourse .restaurant__entrance__list > * p, .restaurant__maincourse .restaurant__maincourse__list > * p, .restaurant__maincourse .restaurant__desert__list > * p, .restaurant__desert .restaurant__entrance__list > * p, .restaurant__desert .restaurant__maincourse__list > * p, .restaurant__desert .restaurant__desert__list > * p {
  font-weight: 300;
}

/* section header */
header {
  position: relative;
}

.header__logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 1.875rem 0;
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__logo--img {
  height: 1.5rem;
  width: auto;
}

.header__localisation {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  padding: 0.96875rem 0;
}
.header__localisation i {
  margin-right: 1rem;
}
.header__localisation p {
  font-weight: 400;
}

.explore {
  background-color: #F3F3F3;
  text-align: center;
  padding: 2.4375rem;
}
.explore__title {
  font-size: 1.5rem;
  margin-bottom: 1.6875rem;
}
.explore__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1.6875rem;
}

/* section features */
.features {
  padding: 3rem 1.25rem;
}
@media (min-width: 768px) {
  .features__wrapper {
    max-width: 1080px;
    margin: auto;
  }
}
.features__title {
  margin-bottom: 1.625rem;
}
.features__list {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
@media (min-width: 768px) {
  .features__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.features__list__item {
  position: relative;
  background: #F3F3F3;
  padding: 1.75rem 2.125rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-left: 0.75rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .features__list__item {
    flex: 1;
  }
}
.features__list__item span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem 0.5rem;
  background: #9356DC;
  color: white;
  border-radius: 9999px;
  font-size: 0.9rem;
}
.features__list__item i {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #7e7e7e;
}
.features__list__item p {
  font-weight: 500;
}

/* section restaurant */
.restaurants {
  padding: 3rem 1.125rem;
  background-color: #F3F3F3;
}
@media (min-width: 768px) {
  .restaurants__wrapper {
    max-width: 1080px;
    margin: auto;
  }
}
.restaurants__title {
  margin-bottom: 1.625rem;
}
@media (min-width: 768px) {
  .restaurants__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.restaurants__list__item {
  flex-basis: 100%;
  background: white;
  display: block;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .restaurants__list__item {
    flex: 1 1 40%;
  }
}
.restaurants__list__item__link {
  width: 100%;
}

.restaurants__list__item__top {
  position: relative;
}
.restaurants__list__item__top img {
  border-radius: 1rem 1rem 0 0;
  max-height: 12.5rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__list__item__top span {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #99E2D0;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  color: #008766;
  font-weight: 500;
}

.restaurants__list__item__bottom {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__list__item__bottom__title {
  margin-bottom: 0.3125rem;
}
.restaurants__list__item__bottom__city {
  font-weight: 300;
}
.restaurants__list__item__bottom .restaurants__list__item__bottom__heart {
  font-size: 1.5rem;
  margin-right: 0.7625rem;
}

.restaurants__list__item__bottom__favorite {
  position: relative;
  cursor: pointer;
}
.restaurants__list__item__bottom__favorite #heart-check-1,
.restaurants__list__item__bottom__favorite #heart-check-2,
.restaurants__list__item__bottom__favorite #heart-check-3,
.restaurants__list__item__bottom__favorite #heart-check-4 {
  position: absolute;
  top: 0;
  opacity: 0;
}
.restaurants__list__item__bottom__favorite #heart-check-1:checked ~ .open,
.restaurants__list__item__bottom__favorite #heart-check-2:checked ~ .open,
.restaurants__list__item__bottom__favorite #heart-check-3:checked ~ .open,
.restaurants__list__item__bottom__favorite #heart-check-4:checked ~ .open {
  font-size: 2rem;
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__list__item__bottom__favorite #heart-check-1:checked ~ .close,
.restaurants__list__item__bottom__favorite #heart-check-2:checked ~ .close,
.restaurants__list__item__bottom__favorite #heart-check-3:checked ~ .close,
.restaurants__list__item__bottom__favorite #heart-check-4:checked ~ .close {
  display: none;
}
.restaurants__list__item__bottom__favorite #heart-check-1:not(:checked) ~ .open,
.restaurants__list__item__bottom__favorite #heart-check-2:not(:checked) ~ .open,
.restaurants__list__item__bottom__favorite #heart-check-3:not(:checked) ~ .open,
.restaurants__list__item__bottom__favorite #heart-check-4:not(:checked) ~ .open {
  display: none;
}
.restaurants__list__item__bottom__favorite #heart-check-1:not(:checked) ~ .close,
.restaurants__list__item__bottom__favorite #heart-check-2:not(:checked) ~ .close,
.restaurants__list__item__bottom__favorite #heart-check-3:not(:checked) ~ .close,
.restaurants__list__item__bottom__favorite #heart-check-4:not(:checked) ~ .close {
  font-size: 2rem;
  display: block;
}

.footer {
  background: #353535;
  color: white;
  padding: 1.5625rem;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}
.footer__logo {
  height: 1rem;
  width: auto;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    order: 2;
    margin-left: 2rem;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.footer__list__item {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__list__item {
    margin-left: 2rem;
    margin-bottom: 0;
  }
}
.footer__list__item:last-child {
  margin-bottom: 0;
}
.footer__list__item a {
  display: flex;
  align-items: center;
}
.footer__list__item i {
  min-width: 1.3rem;
  font-size: 0.8rem;
}

.wrapper__restaurant {
  position: relative;
}

.header__restaurant__link {
  width: 100%;
  padding: 1.875rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.header__restaurant__link a:first-child {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.header__restaurant__link a:nth-child(2) img {
  height: 1.5rem;
  width: auto;
}

.header__restaurant__cover {
  height: 17.1875rem;
}
.header__restaurant__cover--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main_restaurant {
  position: relative;
  background: #F3F3F3;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.8125rem 2rem 0.8125rem;
  max-width: 1055px;
}
.main_restaurant::before {
  content: "";
  height: 3rem;
  width: 100%;
  background: #F3F3F3;
  position: absolute;
  top: -2.9rem;
  left: 0;
  border-radius: 25px 25px 0 0;
}
@media (min-width: 768px) {
  .main_restaurant::before {
    height: 4rem;
    top: -3.9rem;
  }
}

.restaurant__header__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5625rem;
}
@media (min-width: 768px) {
  .restaurant__header__title {
    justify-content: center;
    margin-top: 2rem;
  }
}
.restaurant__header__title h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .restaurant__header__title h1 {
    margin-right: 2rem;
  }
}
.restaurant__header__title label {
  margin-right: 2rem;
}

.restaurant__entrance, .restaurant__maincourse, .restaurant__desert {
  margin-bottom: 2.5rem;
}
.restaurant__entrance h2, .restaurant__maincourse h2, .restaurant__desert h2 {
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2rem;
}
.restaurant__entrance h2::after, .restaurant__maincourse h2::after, .restaurant__desert h2::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 2px;
  height: 3px;
  width: 3.5rem;
  background-color: #99E2D0;
}
.restaurant__entrance .restaurant__entrance__list > *, .restaurant__entrance .restaurant__maincourse__list > *, .restaurant__entrance .restaurant__desert__list > *, .restaurant__maincourse .restaurant__entrance__list > *, .restaurant__maincourse .restaurant__maincourse__list > *, .restaurant__maincourse .restaurant__desert__list > *, .restaurant__desert .restaurant__entrance__list > *, .restaurant__desert .restaurant__maincourse__list > *, .restaurant__desert .restaurant__desert__list > * {
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */